body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: black; */
}

.galleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  /* height: max-content; */
  max-width: 1200px; /* Constrain maximum width */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}

.gallery {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

.character-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 30px;
  width: max-content;
}

.button-container i {
  font-size: 32px;
  cursor: pointer;
  color: white;
}

.character {
  position: absolute;
  width: 200px;
  height: 300px;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character.active {
  transform: scale(1.5);
  opacity: 1;
  z-index: 1;
}

.character-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.character-name {
  font-size: 24px;
  font-weight: bold;
}

.character-role {
  font-size: 16px;
  color: #ff5e5e;
  margin-bottom: 15px;
}

.character-description {
  font-size: 14px;
  margin-bottom: 15px;
}

.attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.attribute span {
  font-size: 14px;
}

.bar {
  flex-grow: 1;
  background-color: #333;
  height: 10px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
}

.bar-inner {
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff5e5e, #ff9e5e);
  position: absolute;
  top: 0;
  left: 0;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.skill-icon {
  width: 59px;
  height: 49px;
  border: 2px solid #444;
  border-radius: 5px;
  background-size: cover;
}

.char-info {
  display: flex;
  align-items: center;
  max-width: 400px; /* Constrain maximum width */
  padding: 0 20px; /* Add padding for breathing space */
  box-sizing: border-box;
}

/* Character base styles */
.character {
  transition: opacity 1s ease-in; /* Ensure transition is applied here */
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.navbar img {
  width: 100px;
}
